body {
  margin:0;
  background:#071423;
  color:white;
  font-family:sans-serif;
}

#hud{
  padding:10px;
  display:flex;
  justify-content:space-between;
  background:#1c2f48;
}

#workspace{
  position:relative;
  height:80vh;
  overflow-x:auto;
  background:#071423;
}

#wiresLayer{
  position:absolute;
}

.device{
  position:absolute;
  width:70px;
  height:45px;
  background:#d9d9d9;
  border-radius:12px;
  text-align:center;
  line-height:45px;
  font-size:12px;
  color:black;
  font-weight:bold;
}

.terminal{
  position:absolute;
  width:14px;
  height:14px;
  background:#21a8d8;
  border-radius:50%;
  font-size:8px;
  line-height:14px;
  text-align:center;
  color:white;
}

.on{
  background:radial-gradient(circle,#ffff99,#ffcc00);
  box-shadow:0 0 25px gold;
}

#bossUI{
  position:absolute;
  top:10px;
  left:10px;
  width:200px;
}

#bossBar{
  height:15px;
  background:#333;
  border-radius:8px;
  overflow:hidden;
}

#bossHP{
  height:100%;
  width:100%;
  background:red;
}

#freeze{
  position:absolute;
  inset:0;
  background:black;
  opacity:0;
  pointer-events:none;
}

.freeze-blackout{
  animation:blackout 0.4s forwards;
}

@keyframes blackout{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}

.rainbow-bg{
  animation:rainbowFlash 1s linear forwards;
}

@keyframes rainbowFlash{
  0%{background:#000;}
  25%{background:red;}
  50%{background:yellow;}
  75%{background:blue;}
  100%{background:#071423;}
}

#clearText{
  position:absolute;
  inset:0;
  display:none;
  justify-content:center;
  align-items:center;
  font-size:40px;
  color:gold;
}
