body{
  margin:0;
  background:black;
  color:white;
  text-align:center;
  font-family:sans-serif;
}

h1{
  margin-top:15px;
}

.hp-area{
  width:80%;
  margin:10px auto;
}

.bar{
  width:100%;
  height:16px;
  background:#333;
  border-radius:20px;
  margin-bottom:8px;
}

.boss{
  height:100%;
  width:100%;
  background:red;
  border-radius:20px;
}

.player{
  height:100%;
  width:100%;
  background:limegreen;
  border-radius:20px;
}

#board{
  position:relative;
  width:100%;
  height:420px;
  margin-top:10px;
}

#wireLayer{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  pointer-events:none;
  z-index:10;
}

.device{
  position:absolute;
  width:90px;
  padding:6px;
  background:#ddd;
  border-radius:12px;
  color:black;
}

#power{ left:5%; top:45%; }
#switch{ right:15%; top:15%; }
#lamp{ right:5%; bottom:15%; }

#junction{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:80px;
  padding:10px;
  background:#ccc;
  border-radius:15px;
  color:black;
}

.device h3, #junction h3{
  margin:3px 0;
  font-size:12px;
}

.terminal{
  display:inline-flex;
  justify-content:center;
  align-items:center;
  width:22px;
  height:22px;
  margin:4px;
  background:#222;
  color:white;
  border-radius:50%;
  font-size:10px;
  cursor:pointer;
}

.selected{
  outline:2px solid yellow;
}

button{
  margin-top:10px;
  padding:8px 25px;
  font-size:14px;
  border:none;
  border-radius:20px;
}

#overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:50px;
}
.hidden{
  display:none !important;
}

