body{
  margin:0;
  font-family:sans-serif;
  background:radial-gradient(circle at center,#001b33,#000814);
  color:white;
}

#hud{
  background:#1c2f48;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.beta{color:gold;}

#battleUI{
  padding:15px;
}

.bar{
  width:100%;
  height:18px;
  background:#333;
  border-radius:10px;
  overflow:hidden;
  margin-bottom:15px;
}

.boss{
  height:100%;
  width:100%;
  background:red;
  transition:width 0.3s;
}

.player{
  height:100%;
  width:100%;
  background:lime;
  transition:width 0.3s;
}

#workspace{
  position:relative;
  height:60vh;
}

.test-btn{
  position:absolute;
  bottom:30px;
  right:20px;
  padding:10px 20px;
  border-radius:10px;
  border:2px solid #00ccff;
  background:transparent;
  color:#00ccff;
  font-weight:bold;
}

.freeze-screen{
  position:fixed;
  inset:0;
  background:black;
  display:none;
  z-index:9999;
}
