body{
  background:black;
  color:white;
  font-family:sans-serif;
  text-align:center;
  margin:0;
}

h1{
  margin:20px 0;
}

.hp-area{
  width:80%;
  margin:0 auto 30px;
}

.bar{
  width:100%;
  height:20px;
  background:#333;
  border-radius:10px;
  overflow:hidden;
  margin-bottom:10px;
}

.boss{
  background:red;
  height:100%;
  width:100%;
}

.player{
  background:limegreen;
  height:100%;
  width:100%;
}

#board{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  margin:40px 20px;
}

.device, #junction{
  background:#ddd;
  color:black;
  padding:15px;
  border-radius:15px;
  width:120px;
  margin:10px;
}

.terminal{
  width:35px;
  height:35px;
  background:#222;
  color:white;
  border-radius:50%;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin:5px;
  cursor:pointer;
  border:3px solid transparent;
}

.terminal.selected{
  border:3px solid yellow;
}

#junction .terminal{
  background:#555;
}

button{
  padding:15px 40px;
  font-size:20px;
  border-radius:40px;
  border:none;
  background:#ccc;
  margin:30px;
}

#overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:60px;
}

.hidden{
  display:none;
}
